:root {
    --body: #f5ebc2;
    --history: transparent;
    --result: #AD8B73;
    --panelElementHover: #F8EFBA;
    --numbers: #E3CAA5;
    --sign_clean_equals: #CEAB93;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--body);
}

.calculator {
    font-family: 'Poppins';
    height: 600px;
    width: 600px;
    display: flex;
    box-shadow: 0 0 10px 1px #AD8B73;
}

.calculating {
    width: 400px;
}

.history {
    font-size: 20px;
    background-color: var(--history);
    text-align: center;
    padding: 10px;
    height: 100%;
    width: 200px;
    overflow: auto;
    position: relative;
}

.list__delete {
    font-size: 15px;
    opacity: 0.7;
}

.list__item {
    border-bottom: 2px solid #AD8B73;
    margin: 5px;
    cursor: pointer;
}

.result-panel {
    background-color: var(--result);
    height: 15%;
    font-size: 40px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.prev-number, .curr-sign {
    font-size: 22px;
    opacity: 0.7;
    position: absolute;
}

.prev-number {
    top: 0;
    right: 23px;
}

.curr-sign {
    right: 6px;
    top: 0;
}

.curr-number {
    position: absolute;
    right: 6px;
    bottom: 0;
}

.numbers-panel {
    font-size: 25px;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
}

.panel__element {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
}

.panel__element:hover {
    background-color: var(--PanelElHover);
    transform: scale(1.04);
    z-index: 1;
}

.panel__element:nth-child(1) {
    width: 50%;
}

.panel__element:nth-last-child(3) {
    width: 50%;
}

.number {
    background-color: var(--numbers);
}

.sign, .clean, .equals {
    background-color: var(--sign_clean_equals);
}
